<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../build/styles/main.css" rel="stylesheet">
</head>
<body>
    <div class="header-component-flex">
        <div class="header-component-flex-left">
            <div class="header-component-flex-logo">
                 <a href="/accueil"><img src="../../build/images/header/logo_chargeon.svg" alt="" class="header-component-flex-style-logo" onmouseover="showPopupMsg();" onmouseout="hidePopupMsg();"></a>
            </div>
             
            <div class="header-component-flex-logo-msg" id="header_logo_msg_popup">
                <p class="header-component-flex-logo-style-msg" id="popup-msg-accueil">Accueil</p>
            </div>
            
        </div>

        <div class="header-comonent-flex-right">
            <div class="header-component-flex-setting">
                <div class="header-component-flex-setting-msg">
                    <p class="header-component-flex-setting-style-msg" id="popup-msg">Paramétre</p>
                </div>
                <button class="header-component-flex-setting-button" id="header-btn-popup" onmouseover="showPopupMsgParam();" onmouseout="hidePopupMsgParam();">
                    <img src="../../build/images/header/img-profile.jpeg" alt="" class="header-component-setting-button-style">
                </button>
                
            </div>
            <div class="header-component-flex-setting-popup" id="header-popup">
                    <div class="header-component-flex-setting-popup-conteiner">
                        <ul class="header-component-flex-setting-popup-ul">
                            <div class="header-component-flex-setting-popup-content">
                                <img src="../../build/images/header/profiles.svg" alt="" class="header-component-flex-setting-popup-icon">
                                <a href="" class="header-component-flex-setting-popup-a"><li class="header-component-flex-setting-popup-li">Profile</li></a>
                            </div>
    
                            <div class="header-component-flex-setting-popup-content">
                                <img src="../../build/images/header/reglages.svg" alt=""class="header-component-flex-setting-popup-icon">
                                <a href="" class="header-component-flex-setting-popup-a"><li class="header-component-flex-setting-popup-li">Compte details</li></a>
                            </div>
    
                             <div class="header-component-flex-setting-popup-content">
                                <img src="../../build/images/header/deconnexion.svg" alt="" class="header-component-flex-setting-popup-icon">
                                <a href="/api/auth/logout" class="header-component-flex-setting-popup-a"><li class="header-component-flex-setting-popup-li">Deconnexion</li></a>
                            </div>
                        </ul>
                    </div>
            </div>
        </div>
        
    </div>
























    <!--  
   <div class="header">
    <div class="header-flex-component">
        <div class="header-component-logo">
            <a href="#"><img src="../../build/images/header/logo_chargeon.svg" alt="" class="header-component-logo-style"></a>
            
        </div>
        <div class="header-component-logout">
            <button class="header-component-icon" id="header-btn-popup">
                <img src="../../build/images/header/img-profile.jpeg" alt="" class="header-component-icon-img">
            </button>
            <div class="header-component-popup-close" id="header-popup">
               <div class="header-component-popup" >
                    <ul class="header-component-popup-ul">
                        <div class="header-component-popup-content">
                            <img src="../../build/images/header/profiles.svg" alt="" class="header-component-popup-icon">
                            <a href="" class="header-component-popup-a"><li class="header-component-popup-li">Profile</li></a>
                        </div>

                        <div class="header-component-popup-content">
                            <img src="../../build/images/header/reglages.svg" alt=""class="header-component-popup-icon">
                            <a href="" class="header-component-popup-a"><li class="header-component-popup-li">Compte details</li></a>
                        </div>

                         <div class="header-component-popup-content">
                            <img src="../../build/images/header/deconnexion.svg" alt="" class="header-component-popup-icon">
                            <a href="/api/auth/logout" class="header-component-popup-a"><li class="header-component-popup-li">Deconnexion</li></a>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div> 
-->
</body>

<script type="text/javascript" src="../../build/scripts/app.js"></script>
</html>