.main-conteiner{
    height: 100%;
    width: 40%;
    border-left: 1px solid $gray2;
    border-right: 1px solid $gray2;
    
    margin-left: auto;
    margin-right: auto;
}
.main-content{
    display: flex;
    flex-direction: column;
    
}
.main-profile{
    height: 340px;
    border-bottom: 1px solid $gray2;
    //background-color: rgba(0, 255, 255, 0.116);
    
}
.main-profile-content{
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    padding-left: 30px;
    
}
.main-profile-content-icon{
    text-align: center;
    height: 200px;
    width: 120px;
    border-radius: 15px;
    background-color: $black2;
    padding-top: 20px;
    
}
.main-profile-content-image{
    
    height: 100px;
    width: 100px;
    border-radius: 30px;
}
.main-profile-content-grade{
    padding-top: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    color: $gray;

}
.main-profile-content-type-grade{
    padding-top: 10px;
    height: 35px;
}

.main-profile-content-name-all{
    padding-left: 30px;
}
.main-profile-content-name{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    color : $white;
}
.main-profile-content-name-grade{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    color : #cfd6e6;
    padding-top: 15px;
}
.main-profile-content-name-button-all{
    padding-top: 50px;
}
.main-profile-content-name-button{
    background-color: $black;
    border: 1px solid $white;
    border-radius: 15px;
    height: 50px;
    width: 155px;
    color: $white;

    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    cursor: pointer;
    &:hover{
        background-color: $black2;
    }

}

.main-profile-content-header{
    padding-left: 30px;
    padding-top: 30px;
}
.main-profile-content-header-ticket{
    padding: 20px;
    background-color: $black;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Ubuntu, "Segoe UI", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    color: $white;

    &:hover {
        background-color:  $black2;
        opacity: 0.9;
    }

}

.main-profile-content-ticket{
    //background-color: red;
}
.main-profile-content-ticket{
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 35px;
    display: flex;
    justify-content: space-between;
    display: grid;
    grid-template-columns: repeat(2, 250px);
    grid-template-rows: repeat(2, 40px);
    gap: 20px;
    
}
.main-profil-content-ticket-button{
    width: 280px;
    height: 40px;
    border: none;
    border-radius: 10px;
    border: 1px solid $gray2;
    background-color: $black;
    cursor: pointer;
    &:hover{
        background-color: $black2;
    }
}

@media only screen and (max-width: 1700px) {
    .main-profile-content-ticket{
        background-color: red;
    }
    .main-profile-content-ticket{
        padding-left: 50px;
        padding-top: 35px;
        
        
        display: grid;
        grid-template-columns: repeat(1, 250px);
        grid-template-rows: repeat(1, 40px);
        gap: 20px;
        
    }
    .main-profil-content-ticket-button{
        width: 450px;
        height: 40px;
        border: none;
        border-radius: 10px;
        border: 1px solid $gray2;
        background-color: $black;
        cursor: pointer;
        &:hover{
            background-color: $black2;
        }
    }
}
