<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>404</title>
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">
    <link rel="icon" href="assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/libs.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preload" href="../../assets/fonts/istok-web-v15-latin/istok-web-v15-latin-regular.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/istok-web-v15-latin/istok-web-v15-latin-700.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/montserrat-v15-latin/montserrat-v15-latin-600.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/material-icons/material-icons.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="../../assets/fonts/material-icons/material-icons-outlined.woff2" as="font"
        type="font/woff2" crossorigin>
</head>

<body>
    <main class="main">
        <div class="main-inner">
            <header class="header">
                <nav class="header-fixed">
                    <div class="container">
                        <div class="row flex-nowrap align-items-center justify-content-between">
                            <div class="col-auto header-fixed-col">
                                <a href="/" class="logo" title="PathSoft">
                                    <img src="../../assets/img/logo.svg" width="115" height="36" alt="PathSoft">
                                </a>
                            </div>
                        </div>
                    </div>
                </nav>
            </header>
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading heading-center">
                                <div class="section-subheading">DÉSOLÉ, MAIS LA PAGE N'A PAS ÉTÉ TROUVÉE</div>
                                <h1 class="page-title page-404-title">404</h1>
                                <p class="section-desc">Vous avez peut-être mal tapé l'adresse ou la page a peut-être
                                    été déplacée</p>
                            </div>
                            <div class="wrap-btn align-items-center justify-content-center">
                                <a href="/" class="btn btn-small btn-with-icon ripple">
                                    <span>Aller à la page d'accueil</span>
                                    <svg class="btn-icon-right" viewBox="0 0 13 9" width="13" height="9">
                                        <use xlink:href="../../assets/img/sprite.svg#arrow-right"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <script src="../../assets/libs/jquery/jquery.min.js"></script>
    <script src="../../assets/libs/lozad/lozad.min.js"></script>
    <script src="../../assets/libs/device/device.js"></script>
    <script src="../../assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
    <script src="../../assets/libs/spincrement/jquery.spincrement.min.js"></script>
    <script src="../../assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>
    <script src="../../assets/js/custom.js"></script>
</body>

</html>