<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../../build/styles/main.css" rel="stylesheet">
    <title>Accueil</title>
</head>
<body>
    <header>
        <%- include('../partials/header'); %>
    </header>
    <main>
        <div class="main-conteiner">
            <div class="main-content">
                <div class="main-profile">
                    <div class="main-profile-content">
                        <div class="main-profile-content-icon">
                            <img src="../../build/images/header/img-profile.jpeg" alt="" class="main-profile-content-image">
                            <p class="main-profile-content-grade">Grade</p>
                            <img src="../../build/images/profile/epee.svg" alt="" class="main-profile-content-type-grade">
                        </div>

                        <div class="main-profile-content-name-all">
                            <p class="main-profile-content-name">Yan</p>
                            <p class="main-profile-content-name-grade">@Modérateur</p>
                            <div class="main-profile-content-name-button-all">
                                <button class="main-profile-content-name-button">Compte details</button>
                            </div>
                            
                        </div>
                    </div>
                    <div class="main-profile-content-header">
                        <button class="main-profile-content-header-ticket">Tickets</button>
                    </div>
                </div>
                <div class="main-profile-content-ticket">
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>

                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>

                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    <div class="main-profil-content-ticket-all">
                        <button class="main-profil-content-ticket-button"></button>
                    </div>
                    

                    
            </div>
        </div>
        <%- include('../partials/detailAccount'); %>
    </main>
    <nav>
        <%- include('../partials/sideBar'); %>
    </nav>
    
    
</body>
<script type="text/javascript" src="../../build/scripts/app.js"></script>
</html>