//************************
// Color Variables
//************************



/*
//gray
$gray0 : #F7F9FC;
$gray50 : #E9EDF5;
$gray100 : #D5DBE5;
$gray200 : #BCC2CE;
$gray300 : #A1A9B8;
$gray400 : #868FA0;
$gray500 : #687182;
$gray600 :  #5A6376;
$gray700 : #464F60;
$gray800 : #333B4A;
$gray900 : #171C26;
$gray    : #141313;

//light-blue
$indigo0 : #EDEDFC;
$indigo50 : #DFDEFC;
$indigo100 : #D0CFFC;
$indigo200 : #B9B6FA;
$indigo300 : #4264fb;
*/

// new color
//white
$white : #FFFFFF;
$violet : #ce3df3;
$black : #0e1217;
$black2 : #1c1f26;
$gray : #a8b3cf;
$gray2 : #2d323b;
$gray3 : #2d313a;
//************************
// BREAKPOINTS
//************************
$breakpoint-desktop : 1200px;
$breakpoint-laptop : 950px;
$breakpoint-tablet : 768px;
$breakpoint-mobile : 400px;

//************************
// Fonts Variables
//************************
$interBold : "Inter-Bold";
$interMedium : "Inter-Medium";
$interRegular : "Inter-Regular";
$interSemiBold : "Inter-SemiBold";
$openSansMedium : "OpenSans-Medium";
$openSansSemiBold : "OpenSans-SemiBold"
