<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2">

    <link rel="icon" href="../../assets/img/favicon/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../assets/css/libs.css">
    <link rel="stylesheet" href="../../assets/css/style.css">
    <link rel="preload" href="../../assets/fonts/istok-web-v15-latin/istok-web-v15-latin-regular.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/istok-web-v15-latin/istok-web-v15-latin-700.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/montserrat-v15-latin/montserrat-v15-latin-700.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/montserrat-v15-latin/montserrat-v15-latin-600.woff2" as="font"
        type="font/woff2" crossorigin>
    <link rel="preload" href="../../assets/fonts/material-icons/material-icons.woff2" as="font" type="font/woff2"
        crossorigin>
    <link rel="preload" href="../../assets/fonts/material-icons/material-icons-outlined.woff2" as="font"
        type="font/woff2" crossorigin>
</head>

<body>

    <!-- Begin header fixed -->
    <nav class="header-fixed">
        <div class="container">
            <div class="row flex-nowrap align-items-center justify-content-between">
                <div class="col-auto d-block d-lg-none header-fixed-col">
                    <div class="main-mnu-btn">
                        <span class="bar bar-1"></span>
                        <span class="bar bar-2"></span>
                        <span class="bar bar-3"></span>
                        <span class="bar bar-4"></span>
                    </div>
                </div>
                <div class="col-auto header-fixed-col">
                    <!-- Begin logo -->
                    <a href="/borne" class="logo" title="PathSoft">
                        <img src="../../assets/img/logo81.svg" width="115" height="36" alt="PathSoft">
                    </a><!-- End logo -->
                </div>
                <div class="col-auto header-fixed-col d-none d-lg-block col-static">
                    <!-- Begin main menu -->
                    <nav class="main-mnu">
                        <ul class="main-mnu-list">
                            <li><a href="/borne" data-title="Bornes"><span>Bornes</span></a></li>
                            <li><a href="/ticket" data-title="Tickets"><span>Tickets</span></a></li>
                            <li><a href="/technicien" data-title="Techniciens"><span>Techniciens</span></a></li>
                            <li><a href="typography.html" data-title="Typography"><span>Typography</span></a></li>
                            <li><a href="tabs-and-accordions.html" data-title="Tabs & Accordions"><span>Tabs &
                                        Accordions</span></a></li>
                            <li><a href="news.html" data-title="News"><span>News</span></a></li>
                            <li><a href="contact-us.html" data-title="Contact Us"><span>Contact Us</span></a></li>
                        </ul>
                    </nav><!-- End main menu -->
                </div>


            </div>
        </div>
    </nav><!-- End header fixed -->

    <script src="../../../assets/libs/jquery/jquery.min.js"></script>
    <script src="../../../assets/libs/lozad/lozad.min.js"></script>
    <script src="../../../assets/libs/device/device.js"></script>
    <script src="../../../assets/libs/ScrollToFixed/jquery-scrolltofixed-min.js"></script>
    <script src="../../../assets/libs/spincrement/jquery.spincrement.min.js"></script>
    <script src="../../../assets/libs/jquery-validation-1.19.3/jquery.validate.min.js"></script>
    <script src="../../../assets/js/custom.js"></script>
</body>

</html>